
@import url('loading.css');
@import url('revision.css');

body {
    font: 16px verdana;
    max-width: 800px;
    margin: 1em auto;
}

header {
    img {vertical-align: middle;}
}

table {
    width: 100%;


    tr:nth-child(odd) {
        background-color: #eee;
    }

}
